body {
    background-image: url(images/fon.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

div {
    text-align: center;
}

em {
    color:black;
}

a {
    color:black;
}

a:hover {
    color: rgb(74, 150, 237);
}
